body {
  font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
  font-size: 10px;
}

.header_top .container_1000 {
  height: 10vh;
  line-height: 10vh;
}
.container_1000 {
  /* width: 1000px; */
  margin: 0 auto;
}

#logo {
  vertical-align: middle;
}

.fa-bars {
  display: none;
  float:right;
  font-size: 3.5em;
  padding-top: 10px;
  padding-right: 15px;
}

.menu_inline {
  list-style: none;
}
.menu_inline {
  float:right;
}
.menu_inline li {
  display:inline-block;
  margin-right:10px;
  text-transform: uppercase;
}
.menu_inline li a {
  text-decoration:none;
  color: black;
}
.menu_inline.lang li {

  /* padding-right: 20px; */
}
.menu_inline.lang #ES {
  padding-right: 10px;

}
.menu_inline.lang #ITA {
  border-left: 1px solid black;
  border-right: 1px solid black;
  line-height: 20px;
  padding-right: 5px;
  padding-left: 5px;

}

/* INIZIO JUMBO */

.jumbo {
  color: white;
}
.jumbo .container_max{
  position: relative;
}

.container_max {
  width: 100%;
  height: 80vh;
  background-image:url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
}

.layover{
  width: 100%;
  height: 100%;
  background-color:rgba(6, 6, 6, 0.49);
}

.jumbo_contain {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
  min-width: 80%;
  text-align: center;
  line-height: 10vh;
}

.jumbo_contain h1 {
  font-size: 600%;
}
.jumbo_contain p {
  font-size: 300%;
}


/* INIZIO MAIN */
.section_1 .container {

  margin-top: 10vh;
}
.padding_container{
  background-color: rgba(221,221,221,255);
  padding:20px;
}
.section_1 .container .col-lg-6 {
  text-align: center;
  line-height: 3vh;
  padding:20px;
}
.section_1 .container .col-lg-6 p a {
  text-decoration: none;
  color: blue;
}
.section_1 .container .col-lg-6 img {
  max-width: 40%;
}

#bike {
  color: lightgray;
}

#tizio {
  height: 80vh;
  background-image: url("../img/HelbizBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.tizio_text {
  margin-top: 85vh;
}

#iphone {
  width: 80%;
  margin-top: 45vh;
}

.smart .bkg_smart {
  position: relative;
  height: 46vh;
  background-image: url(../img/ScooterHelbiz-2400.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.smart_contain {
  position: absolute;
  right: 0;
  top: 50%;
  width: 30%;
  padding: 0 30px;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}
.smart_contain h2 {
  font-size: 300%;
}
.smart_contain p {
  font-size: 150%;
  margin: 10px 0;
}
.smart_contain a {
  font-size: 150%;
  color: white;
  text-decoration: none;
}

/* Media Query */
@media screen and (max-width: 992px) and (min-width: 768px) {
  /* Utilita */
  .md_display_block {
    display: block;
  }
  .md_display_none {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  body {
    font-size: 8px;
  }

  /* Utilita */
  .xs_display_block {
    display: block;
  }
  .xs_display_none {
    display: none;
  }
  /* iphone */
  #iphone {
   margin-left: 10%;
  }

  /* smart */
  .smart_contain {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    font-size: 0.8em;
  }
}
